Repository Yar56/yogimAppExpo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings=0

add git hook pre-commit(2)
  App.tsx
  src/app/router/routes.ts
  src/shared/lib/audio/trackPlayerServices.ts
  src/shared/routing/NavigationEntities.ts
Due: prettier --write, eslint --max-warnings=0

add secrets
  .env
  .gitignore
  babel.config.js
  package-lock.json
  package.json
  src/app/globalTypes/env.d.ts
  src/app/globalTypes/navigate.d.ts
  src/shared/constants/env.ts
  tsconfig.json
Due: prettier --write, eslint --max-warnings=0

add key
  src/stacks/articlesStack/ArticlesStackScreen.tsx
Due: prettier --write, eslint --max-warnings=0

add video cache
  package-lock.json
  package.json
  src/entities/article/model/index.ts
  src/entities/lesson/model/index.ts
  src/entities/user/ui/avatar/Avatar.tsx
  src/stacks/authStack/authStartPage/AuthStartPage.tsx
  src/stacks/routineStack/lessonPage/LessonPage.tsx
  src/stacks/routineStack/lessonPage/lib/format/getHashedFileName.ts
  src/stacks/routineStack/lessonPage/lib/index.ts
Due: prettier --write, eslint --max-warnings=0

fixes
  src/entities/user/ui/avatar/Avatar.tsx
Due: prettier --write, eslint --max-warnings=0

fix envs
  .env
  .env.example
  .gitignore
Due: none

fix keyboard padding
  package-lock.json
  package.json
  src/shared/ui/layouts/CommonLayout.tsx
  src/stacks/articlesStack/articlePage/ArticlePage.tsx
  src/stacks/authStack/authStartPage/AuthStartPage.tsx
  src/stacks/authStack/authStartPage/AuthStartPageStylesheet.ts
  src/stacks/authStack/components/recoveryPassword/RecoveryPassword.tsx
  src/stacks/authStack/components/signIn/SignIn.tsx
  src/stacks/authStack/components/singUp/SignUp.tsx
  src/stacks/homeStack/homePage/HomePage.tsx
  src/stacks/profileStack/profilePage/ProfilePage.tsx
  src/stacks/routineStack/coursePage/CoursePage.tsx
Due: prettier --write, eslint --max-warnings=0

fix keyboard padding
  README.md
  package.json
Due: prettier --write

fix name
  app.json
Due: prettier --write

fix slug
  app.json
Due: prettier --write

fix app_name
  android/app/src/main/res/values/strings.xml
Due: none

fix loader, uuid
  src/shared/api/supaBase/articles.ts
  src/shared/ui/components/Loader.tsx
Due: prettier --write, eslint --max-warnings=0

fix generateDbTypes
  package-lock.json
  package.json
  src/shared/api/supaBase/dbModels.ts
Due: prettier --write, eslint --max-warnings=0

Path conditions:
  prettier --write: any of: *.{js,ts,jsx,tsx,mjs,mts,cjs,cts,html,css,scss,json}
  eslint --max-warnings=0: any of: *.{js,ts,jsx,tsx,mjs,mts,cjs,cts}
